{% extends 'base.html' %}

{% block body %}

<div class="card text-center">
    <div class="card-header">
      Practical Task
    </div>
    <div class="card-body">
      <h5 class="card-title">This is a task assigned for hiring process of Innvonix</h5>
      <p class="card-text">Now Login to view all the image of each User and see the photo galary below</p>
      <a href="loginuser" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
      Created By Soumyadeep
    </div>
  </div>



{% endblock %}